@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*
{
    user-select: none;
    /* Para não permitir seleção de texto */
}

body
{
    font-family: 'Poppins';
}

nav
{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content:center;
}

.topic
{
    font-size: 20px;
    text-align: center;
}

#table1, #table2, #table
{
    width: 525px;
    text-align: center;
}

#artilheiro-table, #goleiro-table
{
    width: 320px; /* IMPORTANTE! */
}

#table th, /*para a tabela-futsal*/
#table1 th,
#table2 th,
#artilheiro-table th,
#goleiro-table th
{
    border-top: 1px solid #dadec0;
}

#table td, /*para a tabela-futsal*/
#table1 td,
#table2 td,
#artilheiro-table td,
#goleiro-table td
{
    text-align: center;
}

/* TESTING... */
.tabela-colunas-bordas
{
    width: 0.25px;
    border-radius: 0.005px;
}

.classificados
{
    background-color: blue;
}

.repescagem
{
    background-color: orange;
}

.eliminados
{
    background-color: red;
}

img
{
    margin-right: 5px;
}

.details
{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

/* p ficar espacaado a legenda entre listras e vitoria, empate derrota */
.border 
{
    margin-right: 100px;
}

/* Guia de Rotação */
.rotationGuide
{
    /* DISPLAY está definido em rotate.js */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px; /*quando o aviso some tudo isso some*/
}

.rotationGuide svg
{
    vertical-align: middle;
}

/* Midias */
@media (max-width:600px)
{
    /* classe .sumir, para quando a midia for menor "apagar" da tabela (PJ, VIT, DER, E, GF, GS, SG) */
    .sumir
    {
        display: none;
    }

    #table, #table1, #table2 /*id da tabela da fase de grupos somente*/
    {
        width: 350px;
    }

    #artilheiro-table, #goleiro-table
    {
        width: 350px;
        /* IMPORTANTE! */
    }

    /* quanto ao .rotationGuide
    o display está definido em rotate.js */

}

@media (max-width:380px)
{
    #table, #table1, #table2
    {
        width: 320px;
        font-size: 14px;
        /* IMPORTANTE! */
    }

    #artilheiro-table, #goleiro-table
    {
        width: 300px;
        font-size: 14px;
        /* IMPORTANTE! */
    }

    .rotationGuide
    {
        font-size: 22px;
        /* IMPORTANTE! */
    }

    .details
    {
        font-size: 14px;
        /* IMPORTANTE! */
    }
}